// Here you can add other styles
.online-chat-user {
  color: green !important;
  background: green;
  border-radius: 1rem;
}

.sidebar-brand {
  background-color: #fff;
  border-right: 1px solid #cacaca;
}